AD_REQ_INTERVAL_SECONDS=3
RETRY_WAIT_SECONDS=60
LONG_WAIT_MINUTES=9
INITIAL_BACKOFF_DELAY_SECONDS=10
MAX_BACKOFF_ATTEMPTS=5
FETCH_RETRY_ATTEMPTS=2
FETCH_RETRY_WAIT_SECONDS=15

DISPLAY_NAME=<displayName>
OCI_SHAPE=<shape>
OCI_OCPUS=<ocpus>
OCI_MEMORY_IN_GBS=<memoryInGBs>
OCI_IMAGE_ID=<imageId>
OCI_COMPARTMENT_ID=<compartmentId>
OCI_SUBNET_ID=<subnetId>
SSH_KEY_PUB=<ssh_authorized_keys>
